<h1>Welcome to the Car Simulator</h1>
<p>Find me in app/views/cars/new_car.html.erb</p>

<form action="new_car" method="get" id="make_model">
  Make: <input type="text" name="make"/></br>
  Model Year: <input type="number" name="model_year"/></br>
  Color: <input id="color" type="color" name="color"/></br>
  <textarea name="desc" maxlength="100" placeholder="Enter a description..."/></textarea></br>
  <input id="submit" type="submit" value="Simulate Car"/>

</form>
